data/solax/
*.xlsx
logs/
monitor/*
!monitor/
!monitor/availability_check.py
forecast_outputs/
cache/openmeteo/
config.json

# forecast_outputs/  (tohle klidně nech ignorované)
# ale tohle commituj:
!forecasts/
